{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Delete Employee {% endblock %}</title>
    <link rel="icon" type="image/jpeg" href="{% static 'images/krishan.jpeg' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1 style="margin-top: 30px; color:white">Delete Employee</h1>
    {% block content %}
    <table class="table pl-4">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Id Number</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="table-group-divider table-dark pl-4">
            {% for i in EmpDataDeleteObj %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.EmpName}}</td>
                <td>{{i.EmpIDNumber}}</td>
                <td>{{i.EmpEmail}}</td>
                <td><button type="button" class="btn btn-danger"><a style="text-decoration: none; color:white" href="/deleteEmp/{{i.id}}">Delete</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endblock %}
</body>
</html>